body {
    font-family: 'Source Sans Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer a {
    color: #28a745;
}

.navbar {
    padding: .5rem 0 !important;
}

.nav-link {
    padding: .5rem 1rem !important;
}

.navbar-toggler-right {
    padding: .3rem .6rem;
    font-size: 1.25rem;
    background-color: transparent;
    border-color: transparent;
    border-radius: 50%;
}

.navbar-toggler-right:hover {
    background-color: rgb(226, 224, 224);
    transition: background .2s ease, color .2s ease;
}

.navbar-toggler-right:focus {
    background-color: rgb(226, 224, 224);
    outline: 0;
}

@media (max-width:767px) {

}