body {
    font-family: 'Source Sans Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer a {
    color: #28a745;
}

.nav-link {
    padding: .5rem 1rem !important;
}

@media (max-width:767px) {
    .searcharea,
    .customarea {
		display:  none;
    }
    
    .navbar-toggler-right {
        position: absolute;
        top: -40px;
        right: 0;
    }
}